<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/styles/style.css" th:href="@{/styles/style.css}" />
    <title>Cats</title>
</head>
<body>

<h2>Add Cat:</h2>

<form action="#" th:object="${cat}" th:action="@{/addCat}" method="POST">
    <label>Name:</label><br/>
    <input th:field="*{name}" type="input" name="name" placeholder="Enter Name" required/>
    <br/>

    <label>Age:</label><br/>
    <input th:field="*{age}" type="input" name="age" placeholder="Enter Age" required/>
    <br/>

    <br/>
    <button type="submit" name="submit">Add</button>
</form>

</body>
</html>