<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" media="all"
        href="../static/styles/style.css" th:href="@{/styles/style.css}" />
    <title>Cats</title>
</head>
<body>

<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
  </thead>
  <tbody>
    <tr th:each="cat : ${cats}">
      <td th:text="${cat.getId()}"></td>
      <td th:text="${cat.getName()}"></td>
      <td th:text="${cat.getAge()}"></td>
      <td><a href="/updateCat">Edit</a></td>
      <td><a href="/deleteCat">Delete</a></td>
    </tr>
  </tbody>
</table>>

</body>
</html>